@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

@model List<Admin>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Password</th>
            <th>Address</th>
            <th>Mobile</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
            <td>@item.Id</td>
            <td>@item.Username</td>
            <td>@item.Email</td>
            <td>@item.Password</td>
            <td>@item.Address</td>
            <td>@item.Mobile</td>
        </tr>
        }
        
    </tbody>
</table>